php_value display_errors Off
php_value mbstring.http_input auto
php_value date.timezone America/New_York
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
